#password {
  color: red;
}

#login {
  position: absolute;
  bottom: -500;
  left: 0;
  z-index: -1;
  background-image: url(../../../assets/1.png);
  min-height: 100%;
  min-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#main {
  display: grid;
  grid-template-columns: 50% 50%;
}
/* #main > div {

  } */
#login-container {
  grid-row: 1;
  z-index: 10;
  padding-top: 300px;
  padding-left: 250px;
}

#home {
  grid-row: 1;
}
.form-group {
  left: 50px;
}

#page-scroll {
  margin-top: 340px;
  position: absolute;
  bottom: -500;
  left: 0;
  z-index: -1;
  background-image: url(../../../assets/2.png);
  min-height: 100%;
  min-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
