<div class="container">
  <div class="tab-wrap">
    <input type="radio" id="tab1" name="tabGroup1" class="tab" checked />
    <label for="tab1">Help someone out?</label>

    <input type="radio" id="tab2" name="tabGroup1" class="tab" />
    <label for="tab2">In need of help?</label>
  </div>

  <div class="ft-recipe">
    <div class="ft-recipe__thumb">
      <img
        src="https://zippypaws.com/app/uploads/2018/05/strawberry-waffles-1024x668.jpg"
        alt="Help with Groceries"
      />
    </div>
    <div class="ft-recipe__content">
      <header class="content__header">
        <div class="row-wrapper">
          <h2 class="recipe-title">Help with Groceries</h2>
          <div class="user-rating"></div>
        </div>
        <ul class="recipe-details">
          <li class="recipe-details-item time">
            <i class="ion ion-ios-clock-outline"></i
            ><span class="value">20</span><span class="title">Minutes</span>
          </li>
          <li class="recipe-details-item ingredients">
            <i class="ion ion-ios-book-outline"></i><span class="value">5</span
          ><span class="title">Ingredients</span>
          </li>
          <li class="recipe-details-item servings">
            <i class="ion ion-ios-person-outline"></i
            ><span class="value">40$</span
          ><span class="title">Estimated Price</span>
          </li>
        </ul>
      </header>
      <p class="description">
        Need help with groceries. Would like some Apples and Oranges and
        Strawberries.
      </p>
      <footer class="content__footer"><a href="#">Help person</a></footer>
    </div>
  </div>

  <!-- <div class="search-box">
    <input class="search-txt" name="" placeholder="Type to search" />
    <a class="search-btn" href="#">
      <i class="fas fa-search"></i>
    </a>
  </div>
  <div>
    <button id="submit" type="submit" class="btn btn-primary">Add</button>
  </div> -->

  <div class="wrap">
    <div class="search">
      <input
        type="text"
        class="searchTerm"
        placeholder="What are you looking for?"
      />
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
</div>



<!--<div class="container">
  <app-post-search-sidebar [search]="setSearchParameter"></app-post-search-sidebar>
  <div *ngFor="let item of posts | requestFilter : searchParameter">
    <app-post-result [postInfo]="item"></app-post-result>
  </div>

</div>-->
